//@include breakpoint ($small){}

*{
    margin: 0; padding: 0;
}

body{
    padding: 1em;

}

header{
    height: 20vh;
}

.image {
     height: 150px;
     width: 150px;
}

.imageBig{
    max-height: 399px;
}

.allProductItems{
    display: flex;
    flex-direction: column;
}

.item{
    padding: 2em 1em 1em;
    display: inline-block;
    min-height: 360px;

    .containerSmallImage{
        padding: 2em 0 2.5em;
        display: flex;
        justify-content: center;
    }
}

.titelContainer{
    font-size: 14px;
    overflow: hidden;
}

.SinglePrijs{
    font-size: 50px;
}

.doublePrijs{
    vertical-align: top;
    font-size: 20px;
}

.cart-button {
    text-align: center;
    display: block;
    color: #ffffff;
    max-width: inherit;
    background: #00bc56;
    padding: 10px 20px;
    transition: .1s ease-in-out;
    text-decoration: none;
    margin: 10px 0 0;
}

.buttonContainer{
    text-align: center;
}

.shopping-cart__item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #fff;
}

.shopping-cart__item h4 {
    display: inline-block;
    margin: 0;
}

.shopping-cart__item .price {
    justify-self: end;
}


.cart-button:hover {
    background: #007a37;
}

.cart-icon {
    position: absolute;
    right: 0;
    padding-left: 42px;
    padding-right: 20px;
    line-height: 32px;
    background: url(../img/shopping-cart-icon.svg) no-repeat left center;
    font-size: 18px;
    color: #000000;
}

.cart__remove {
    color: #ffffff;
}

@media only screen and (min-width: 450px){
    *{
        margin: 0 auto;
    }
    body{
        max-width: 1600px;
        border: 1px solid green;
    }

    .allProductItems{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .item {
        flex: 0 1 29%;
    }


    .titelContainer{
        //min-height:80px;
        font-size: 15px;
    }
    .SinglePrijs{
        font-size: 46px;
    }
    .doublePrijs{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px){
    .item {
        flex: 0 1 29%;
        &:hover{
            box-shadow: 0 8px 16px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 8%), 0 0.99px 2px rgb(0 0 0 / 6%);
            transition: .5s ease-in-out;
        }
    }
}
